* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background: #faefeb;
  color: #131211;
  font-family: 'Lexend';
}

div.code-toolbar > .toolbar {
  display: none;
};
