{
  "swagger": "2.0",
  "host": "api.stg.deversifi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "info": {
    "title": "Deversifi API documentation",
    "version": "2.0.0",
    "description": "dvf-pub-api"
  },
  "tags": [],
  "paths":{
   "/v1/trading/allowances":{
      "get":{
         "summary":"This method is used to get the allowance of the user for using DeversiFi features (deposit, withdraw, trade, transfer)",
         "operationId":"getV1TradingAllowances",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getAllowanceResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/balanceHistory":{
      "get":{
         "summary":"Balance history of the authenticated user",
         "operationId":"getV1TradingBalancehistory",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            },
            {
               "type":"string",
               "description":"duration for the history to fetch",
               "enum":[
                  "1d",
                  "1m",
                  "1w",
                  "1y"
               ],
               "x-convert":{
                  "case":"lower"
               },
               "name":"duration",
               "in":"query",
               "x-example":"1d",
               "required":true
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/balanceHistorySchema"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/collateralBalances":{
      "get":{
         "summary":"Returns information about collateral balances (internal use)",
         "operationId":"getV1TradingCollateralbalances",
         "parameters":[
            {
               "type":"string",
               "name":"token",
               "in":"query",
               "required":false
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/collateralBalancesSchema"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/depositsAndWithdrawals":{
      "get":{
         "summary":"This method is used to get the history of deposits and withdrawals for the authenticated user",
         "operationId":"getV1TradingDepositsandwithdrawals",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "x-convert":{
                  "case":"upper"
               },
               "name":"token",
               "in":"query",
               "x-example":"ETH"
            },
            {
               "type":"string",
               "format":"date",
               "name":"startDate",
               "in":"query",
               "x-example":"2020-01-01 13:45"
            },
            {
               "type":"string",
               "format":"date",
               "name":"endDate",
               "in":"query",
               "x-example":"2025-12-31 23:45"
            },
            {
               "type":"string",
               "default":"date",
               "enum":[
                  "date"
               ],
               "name":"sortBy",
               "in":"query"
            },
            {
               "type":"string",
               "default":"DESC",
               "enum":[
                  "ASC",
                  "DESC"
               ],
               "name":"sortDirection",
               "in":"query"
            },
            {
               "type":"integer",
               "default":0,
               "minimum":0,
               "name":"skip",
               "in":"query"
            },
            {
               "type":"integer",
               "default":20,
               "minimum":1,
               "maximum":100,
               "name":"limit",
               "in":"query"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getDepositsAndWithdrawalsResponse",
                  "x-alternatives":[
                     {
                        "$ref":"#/x-alt-definitions/getDepositsAndWithdrawalsResponse"
                     },
                     {
                        "type":"string",
                        "description":"Response in CSV format",
                        "example":"id,type,token,amount,transactionHash,date,sourceOrRecipient8oXSt1ry5EZ,Deposit,ETH,0.1,0x43154dc90de6c578d14fbe1ddae352e3a5fdc42d5944b122ac7c6c41f360d76a,1990-04-14T00:00:00.000Z,0x08152c1265dbc218ccc8ab5c574e6bd52279b3b77kyGeby7RR8,FastWithdrawal,USDT,100,0xe2d59c0e5fec11b23fb159483551b28ad80907937908fa5df26ba9b2045d4397,1990-04-14T00:02:00.000Z,0xeb3ea3ea9239577951523cafa9fd3072bc88e50aDDi37hQZSHg,Withdrawal,ETH,0.05,0x2c892f7a0326a380f027b8ef4a1a15747083ba2471313c5a30a8510d3132a18e,1990-04-14T00:04:00.000Z,0x2d5752b42440139a130f453e0c646e6e656dded4"
                     }
                  ]
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/entityAccounts":{
      "get":{
         "summary":"This method is used to get the entity account information for user address (KYC)",
         "operationId":"getV1TradingEntityaccounts",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model3"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/fills":{
      "get":{
         "summary":"This method is used to get the history of fills (executed trades) for the authenticated user",
         "operationId":"getV1TradingFills",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "x-convert":{
                  "case":"upper"
               },
               "name":"symbol",
               "in":"query"
            },
            {
               "type":"string",
               "format":"date",
               "name":"startDate",
               "in":"query",
               "x-example":"2020-01-01 13:45"
            },
            {
               "type":"string",
               "format":"date",
               "name":"endDate",
               "in":"query",
               "x-example":"2025-12-31 23:45"
            },
            {
               "type":"string",
               "default":"date",
               "enum":[
                  "date"
               ],
               "name":"sortBy",
               "in":"query"
            },
            {
               "type":"string",
               "default":"DESC",
               "enum":[
                  "ASC",
                  "DESC"
               ],
               "name":"sortDirection",
               "in":"query"
            },
            {
               "type":"integer",
               "default":0,
               "minimum":0,
               "name":"skip",
               "in":"query"
            },
            {
               "type":"integer",
               "default":20,
               "minimum":1,
               "maximum":100,
               "name":"limit",
               "in":"query"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getFillsResponse",
                  "x-alternatives":[
                     {
                        "$ref":"#/x-alt-definitions/getFillsResponse"
                     },
                     {
                        "type":"string",
                        "description":"Response in CSV format",
                        "example":"fillId,orderId,symbol,fillAmount,orderAmount,price,date,orderCreationDate,orderType,orderActive,orderCanceled606f4123baed6ee2d25f1f1f,79qiFBVDfbz,ZRX:USDT,-0.125622,-1,209.9,1990-04-14T00:00:00.000Z,2020-11-11T16:37:05.262Z,EXCHANGE LIMIT,false,false606f4123baed6ee2d25f1f32,7vVPHzETRQY,ZRX:USDT,-0.125622,-1,209.9,1990-04-14T00:02:00.000Z,2020-11-11T16:37:05.262Z,EXCHANGE LIMIT,false,false606f4123baed6ee2d25f1f2d,GuKPHMafYU1,ZRX:USDT,-0.125622,-1,209.9,1990-04-14T00:04:00.000Z,2020-11-11T16:37:05.262Z,EXCHANGE LIMIT,false,false606f4123baed6ee2d25f1f25,6h1i8x5apLe,ZRX:USDT,-0.125622,-1,209.9,1990-04-14T00:06:00.000Z,2020-11-11T16:37:05.262Z,EXCHANGE LIMIT,false,false606f4123baed6ee2d25f1f27,MwEnHW1MF5y,ZRX:USDT,-0.125622,-1,209.9,1990-04-14T00:08:00.000Z,2020-11-11T16:37:05.262Z,EXCHANGE LIMIT,false,false"
                     }
                  ]
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/transfers":{
      "get":{
         "summary":"This method is used to get the history of transfers for the authenticated user",
         "operationId":"getV1TradingTransfers",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "x-convert":{
                  "case":"upper"
               },
               "name":"token",
               "in":"query"
            },
            {
               "type":"string",
               "format":"date",
               "name":"startDate",
               "in":"query",
               "x-example":"2020-01-01 13:45"
            },
            {
               "type":"string",
               "format":"date",
               "name":"endDate",
               "in":"query",
               "x-example":"2025-12-31 23:45"
            },
            {
               "type":"string",
               "default":"date",
               "enum":[
                  "date"
               ],
               "name":"sortBy",
               "in":"query"
            },
            {
               "type":"string",
               "default":"DESC",
               "enum":[
                  "ASC",
                  "DESC"
               ],
               "name":"sortDirection",
               "in":"query"
            },
            {
               "type":"integer",
               "default":0,
               "minimum":0,
               "name":"skip",
               "in":"query"
            },
            {
               "type":"integer",
               "default":20,
               "minimum":1,
               "maximum":100,
               "name":"limit",
               "in":"query"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getTransfersResponse",
                  "x-alternatives":[
                     {
                        "$ref":"#/x-alt-definitions/getTransfersResponse"
                     },
                     {
                        "type":"string",
                        "description":"List of past transfers in CSV format",
                        "example":"id,token,amount,feeAmount,source,recipient,memo,date9oWC74UdzWJ,ZRX,0.05,0.001,0x08152c1265dBc218ccc8Ab5C574e6bD52279b3B7,0xeb3ea3ea9239577951523cafa9fd3072bc88e50a,reference,1990-04-14T00:00:00.000ZJtCAHChHhmU,ZRX,0.05,0.001,0x08152c1265dBc218ccc8Ab5C574e6bD52279b3B7,0xeb3ea3ea9239577951523cafa9fd3072bc88e50a,,1990-04-14T00:02:00.000ZA1vFQzqYMXu,ZRX,0.05,0.001,0x08152c1265dBc218ccc8Ab5C574e6bD52279b3B7,0xeb3ea3ea9239577951523cafa9fd3072bc88e50a,,1990-04-14T00:04:00.000Z8xFu925f72r,ZRX,0.05,0.001,0x08152c1265dBc218ccc8Ab5C574e6bD52279b3B7,0xeb3ea3ea9239577951523cafa9fd3072bc88e50a,,1990-04-14T00:06:00.000Z"
                     }
                  ]
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/amm/fundingOrderData":{
      "get":{
         "summary":"Get data for AmmFundingOrder, for given token and amount.",
         "operationId":"getV1TradingAmmFundingorderdata",
         "description":"In order to get data for a deposit order, provide one of the tokens and the amount you want to deposit. The response will contain information on how much of the other pool token you need to deposit and how many LP tokens you will get in return.\nIn order to get data for a withdrawal, set token to pools LP token and provide the amount of it which you wish to exchange for pool tokens. The response will conatin information about how much of the pool tokens you will get in return.\nData returned by this end point can be used to actually request a deposit/withdrawal via POST app/fundingOrders.",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "name":"pool",
               "in":"query",
               "x-example":"ETH:USDT"
            },
            {
               "type":"string",
               "name":"token",
               "in":"query",
               "x-example":"ETH"
            },
            {
               "type":"string",
               "name":"amount",
               "in":"query",
               "x-example":1
            }
         ],
         "tags":[
            "Trading",
            "AMM"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/AmmFundingOrderDataGetResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/30DaysVolume":{
      "get":{
         "summary":"Request information regarding the trading volume of a specific address for the last 30 days. The request returns the overall trading volume details for all tokens in USD as well as the trading volume per token. Results are cached for 60 minutes.",
         "operationId":"getV1TradingR30daysvolume",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/30DaysVolumeResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/USDRanking":{
      "get":{
         "summary":"This returns a user ranking by overall trading volume quoted in USD. If the parameters startDate and endDate are provided, the ranking includes only trading volume within that window of time.",
         "operationId":"getV1TradingRUsdranking",
         "parameters":[
            {
               "type":"number",
               "description":"The start date and time (Unix timestamp in milliseconds) for which the trade volumes are requested. If startDate and endDate are not provided, it returns the volume ranking if all time.",
               "name":"startDate",
               "in":"query",
               "x-example":1577836800000
            },
            {
               "type":"number",
               "description":"The end date and time (Unix timestamp in milliseconds) for which events are requested.If startDate and endDate are not provided, it returns the volume ranking if all time.",
               "name":"endDate",
               "in":"query",
               "x-example":1747384800000
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/USDRankingResponse"
               },
               "description":"Ranked output of all trading volumes for all the tokens."
            }
         }
      }
   },
   "/v1/trading/r/User24HoursVolume":{
      "get":{
         "summary":"Request information regarding the trading volume of a specific address for the last 24 hours. The request returns the overall trading volume details for all tokens in USD as well as the trading volume per token. Results are cached for 2 minutes.",
         "operationId":"getV1TradingRUser24hoursvolume",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/User24HoursVolumeResponse"
               },
               "description":"Successful"
            },
            "default":{
               "schema":{
                  "$ref":"#/definitions/Model9"
               },
               "description":"Returns the overall trading volume details of a specific address for all tokens in USD as well as the trading volume per trading pair fot the last 24 hours."
            }
         }
      }
   },
   "/v1/trading/r/airdropEligibility":{
      "get":{
         "summary":"Returns the eligible DVF airdrop amount for the given address",
         "operationId":"getV1TradingRAirdropeligibility",
         "parameters":[
            {
               "type":"string",
               "description":"Ethereum address",
               "name":"ethAddress",
               "in":"query",
               "x-example":"0x3f2b822E9A8312C6DafBF9686a5e335Af0E4D33B"
            },
            {
               "type":"string",
               "description":"token for the airdrop",
               "name":"token",
               "in":"query",
               "x-example":"DVF"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model11"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/beehiveStats":{
      "get":{
         "summary":"Request information regarding beehive liquidity and apy.",
         "operationId":"getV1TradingRBeehivestats",
         "tags":[
            "Market",
            "deprecated"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/beehiveStatsResponse"
               },
               "description":"Successful"
            },
            "default":{
               "schema":{
                  "$ref":"#/definitions/Model12"
               },
               "description":"Returns behive stats"
            }
         }
      }
   },
   "/v1/trading/r/estimatedNextBatchTime":{
      "get":{
         "summary":"Returns a countdown until the expected next batch proof is submitted onto the blockchain and the average time of previous batches. The next batch will include all pending withdrawals.",
         "operationId":"getV1TradingREstimatednextbatchtime",
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/estimatedNextBatchResponse"
               },
               "description":"Returns the amount of time remaining until the batch is posted to Ethereum."
            }
         }
      }
   },
   "/v1/trading/r/fastWithdrawalFee":{
      "get":{
         "summary":"Returns a range of gas price options.",
         "operationId":"getV1TradingRFastwithdrawalfee",
         "parameters":[
            {
               "type":"string",
               "description":"token to be withdrawn",
               "name":"token",
               "in":"query",
               "x-example":"BTC"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model13"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/fastWithdrawalMaxAmount":{
      "get":{
         "summary":"Returns max amount available for fast withdrawal (before fees).",
         "operationId":"getV1TradingRFastwithdrawalmaxamount",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "type":"string",
               "description":"token to be withdrawn",
               "name":"token",
               "in":"query",
               "x-example":"BTC"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model14"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/feeRate":{
      "get":{
         "summary":"Return current fee rate for a given address. This rate is dependent on the trading volume of the user.",
         "operationId":"getV1TradingRFeerate",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            },
            {
               "type":"string",
               "description":"Symbol for which the fee rate will be returned",
               "name":"symbol",
               "in":"query",
               "x-example":"ETH:USDT"
            },
            {
               "type":"string",
               "description":"Feature for which the fee rate will be returned",
               "name":"feature",
               "in":"query",
               "x-example":"TRADING"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getFeeRateResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/gasSavings":{
      "get":{
         "summary":"Returns gas savings metrics",
         "operationId":"getV1TradingRGassavings",
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/gasSavingsResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getBalanceUsd":{
      "get":{
         "summary":"This is used to retrieve the sum of all user balances converted to USD.",
         "operationId":"getV1TradingRGetbalanceusd",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/getBalanceUsdResponse"
               },
               "description":"Returns the sum of all user balances converted to USD."
            }
         }
      }
   },
   "/v1/trading/r/getConf":{
      "get":{
         "summary":"Returns the DeversiFi application configuration details.",
         "operationId":"getV1TradingRGetconf",
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "type":"string"
               },
               "description":"Successful"
            }
         }
      },
      "post":{
         "summary":"Returns the DeversiFi application configuration details.",
         "operationId":"postV1TradingRGetconf",
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "type":"string"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getGasPrice":{
      "get":{
         "summary":"Returns a range of gas price options.",
         "operationId":"getV1TradingRGetgasprice",
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "description":"Range of gas prices for on chain confirmation speed",
               "schema":{
                  "$ref":"#/definitions/getGasPriceResponse"
               }
            }
         }
      },
      "post":{
         "summary":"Returns a range of gas price options.",
         "operationId":"postV1TradingRGetgasprice",
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "description":"Range of gas prices for on chain confirmation speed",
               "schema":{
                  "$ref":"#/definitions/getGasPriceResponse"
               }
            }
         },
         "deprecated":true
      }
   },
   "/v1/trading/r/getPublicPermissions":{
      "get":{
         "summary":"A descriptor object for all user permissions available",
         "operationId":"getV1TradingRGetpublicpermissions",
         "tags":[
            "public"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model15"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getTokenCirculatingSupply":{
      "get":{
         "summary":"Returns token liquidity left",
         "operationId":"getV1TradingRGettokencirculatingsupply",
         "parameters":[
            {
               "type":"string",
               "description":"Token for which to get the circulating supply",
               "name":"token",
               "in":"query",
               "x-example":"DVF"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "description":"Circulating supply",
               "schema":{
                  "type":"number",
                  "description":"Circulating supply",
                  "example":10
               }
            }
         }
      }
   },
   "/v1/trading/r/getTokenHolders":{
      "get":{
         "summary":"Returns token holders count for a given token",
         "operationId":"getV1TradingRGettokenholders",
         "parameters":[
            {
               "type":"string",
               "description":"Token for which to get the holders count",
               "name":"token",
               "in":"query",
               "x-example":"DVF"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "type":"number",
                  "example":452083
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getTokenLiquidityLeft":{
      "get":{
         "summary":"Returns token liquidity left",
         "operationId":"getV1TradingRGettokenliquidityleft",
         "parameters":[
            {
               "type":"string",
               "description":"Token for which to get the liquidity left",
               "name":"token",
               "in":"query",
               "x-example":"DVF"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model16"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getTokenSaleStartEnd":{
      "get":{
         "summary":"Returns token sale start and end time",
         "operationId":"getV1TradingRGettokensalestartend",
         "parameters":[
            {
               "type":"string",
               "description":"Token for which to get the sale start and end time",
               "name":"token",
               "in":"query",
               "x-example":"DVF"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/tokenSaleStartEndResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/last24HoursVolume":{
      "get":{
         "summary":"Request information regarding the trading volume for the last 24 hours. The request returns the overall trading volume details in USD as well as the trading volume per token in USD and the native token.",
         "operationId":"getV1TradingRLast24hoursvolume",
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/last24HoursVolumeResponse"
               },
               "description":"Returns the trading volume of the last 24 hours."
            }
         }
      }
   },
   "/v1/trading/r/registeredAccounts":{
      "get":{
         "summary":"Returns total registered accounts",
         "operationId":"getV1TradingRRegisteredaccounts",
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/registeredAccountsResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/swapVolume":{
      "get":{
         "summary":"Get swap functionality volume information for a specific token related pairs",
         "operationId":"getV1TradingRSwapvolume",
         "parameters":[
            {
               "type":"string",
               "description":"Token whose related pair volumes will be calculated",
               "name":"token",
               "in":"query",
               "x-example":"ETH",
               "required":true
            },
            {
               "type":"number",
               "description":"Date of the volume",
               "name":"date",
               "in":"query",
               "x-example":1577836800000,
               "required":true
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model17"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/tokenBalancesHistory":{
      "get":{
         "summary":"Return the token balances for the given addresses, token, block number",
         "operationId":"getV1TradingRTokenbalanceshistory",
         "parameters":[
            {
               "type":"number",
               "x-alternatives":[
                  {
                     "type":"number",
                     "example":10822562
                  },
                  {
                     "type":"string",
                     "enum":[
                        {
                           "override":true
                        },
                        "latest"
                     ]
                  }
               ],
               "name":"blockNumber",
               "in":"query",
               "x-example":10822562
            },
            {
               "type":"string",
               "description":"token we want the balances of",
               "name":"token",
               "in":"query",
               "x-example":"xDVF"
            },
            {
               "type":"array",
               "items":{
                  "type":"string",
                  "description":"addresses we want the balances of"
               },
               "collectionFormat":"multi",
               "x-alternatives":[
                  {
                     "type":"array",
                     "example":[
                        "0xc0e9bd267626e2393ddaf520ae5df27ef6c533bd"
                     ],
                     "items":{
                        "type":"string",
                        "description":"addresses we want the balances of"
                     },
                     "collectionFormat":"multi",
                     "name":"addresses"
                  },
                  {
                     "type":"object"
                  },
                  {
                     "type":"string",
                     "example":"0xc0e9bd267626e2393ddaf520ae5df27ef6c533bd"
                  }
               ],
               "name":"addresses",
               "in":"query",
               "x-example":[
                  "0xc0e9bd267626e2393ddaf520ae5df27ef6c533bd"
               ]
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model19"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/tokenRanking":{
      "get":{
         "summary":"This returns a user ranking by trading volume for a chosen token. If the parameters startDate and endDate are provided, the ranking includes only trading volume within that window of time. All volumes are quoted in ETH.",
         "operationId":"getV1TradingRTokenranking",
         "parameters":[
            {
               "type":"string",
               "description":"The currency relating to the requested trading volume information.",
               "name":"currency",
               "in":"query",
               "x-example":"ETH",
               "required":true
            },
            {
               "type":"number",
               "description":"The start date and time (Unix timestamp in milliseconds) for which the trade volumes are requested. If startDate and endDate are not provided, it returns the volume ranking if all time.",
               "name":"startDate",
               "in":"query",
               "x-example":1527836800000
            },
            {
               "type":"number",
               "description":"The end date and time (Unix timestamp in milliseconds) for which the trade volumes are requested. If startDate and endDate are not provided, it returns the volume ranking if all time.",
               "name":"endDate",
               "in":"query",
               "x-example":1747384800000
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/tokenRankingResponse"
               },
               "description":"Returns a ranked output of all the trading volumes for a given crypto currency. All the Volumes are quoted in ETH."
            }
         }
      }
   },
   "/v1/trading/r/totalValueLocked":{
      "get":{
         "summary":"Returns total value locked by day within a given timerange",
         "operationId":"getV1TradingRTotalvaluelocked",
         "parameters":[
            {
               "type":"string",
               "format":"date",
               "description":"Date from which to get TVL data",
               "name":"startDate",
               "in":"query",
               "x-example":"2020-04-21"
            },
            {
               "type":"string",
               "format":"date",
               "description":"Date until which to get TVL data",
               "name":"endDate",
               "in":"query",
               "x-example":"2020-05-21"
            },
            {
               "type":"string",
               "description":"Optional, Token for which to get TVL data",
               "name":"token",
               "in":"query",
               "required":false
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/totalValueLockedResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/tradeCountSince":{
      "get":{
         "summary":"Returns deversifi finished order count from specified date",
         "operationId":"getV1TradingRTradecountsince",
         "parameters":[
            {
               "type":"string",
               "format":"date",
               "description":"Date since when orders are counted.",
               "name":"startDate",
               "in":"query",
               "x-example":"2020-07-21T13:19:08.241Z",
               "required":true
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model20"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/tradeHistory":{
      "get":{
         "summary":"This method is used to retrieve a list of all past executed trades for a user. This includes the different trades that have been settled for each fully executed or partially executed order.",
         "operationId":"getV1TradingRTradehistory",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            }
         ],
         "produces":[
            "text/csv"
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "description":"Returns executed trades as a CSV file",
               "schema":{
                  "type":"string",
                  "example":"exchange_name,account_name,trade_date,buy_asset,sell_asset,buy_amount,sell_amount,exchange_order_id,fee_asset,fee_amount,transaction_type,clarification\nDeversiFi,0x08152c1265dbc218ccc8ab5c574e6bd52279b3b7,2021-01-21T16:08:39,USDT,ETH,40.918,1,NHX5FcipBCZ,USDT,0.082,trade,\nDeversiFi,0x08152c1265dbc218ccc8ab5c574e6bd52279b3b7,2021-01-20T18:30:54,USDT,ETH,41.916,1,2f7tKwGqR8v,USDT,0.084,trade,\nDeversiFi,0x08152c1265dbc218ccc8ab5c574e6bd52279b3b7,2021-01-19T10:16:31,USDT,ETH,38.6226,0.9,KRSbMNKyDwu,USDT,0.0774,trade,"
               }
            }
         }
      }
   },
   "/v1/trading/r/transferVolume":{
      "get":{
         "summary":"Get transfer functionality volume information for a specific token",
         "operationId":"getV1TradingRTransfervolume",
         "parameters":[
            {
               "type":"string",
               "description":"Token whose transfer volumes will be calculated",
               "name":"token",
               "in":"query",
               "x-example":"ETH",
               "required":true
            },
            {
               "type":"number",
               "description":"Date of the volume",
               "name":"date",
               "in":"query",
               "x-example":1577836800000,
               "required":true
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model21"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/vaultIdAndStarkKey":{
      "get":{
         "summary":"Gets the stark public key and vault id for the user registered with <targetEthAddress> and token",
         "operationId":"getV1TradingRVaultidandstarkkey",
         "parameters":[
            {
               "type":"string",
               "description":"This nonce which used to provide the time until which this nonce is valid. It is presented as seconds since epoch.",
               "name":"nonce",
               "in":"query",
               "x-example":"v2-1704114061.000",
               "required":false
            },
            {
               "type":"string",
               "description":"The signature obtained by signing the nonce with your private ethereum key.",
               "name":"signature",
               "in":"query",
               "x-example":"0x2b48d53f2e3a696630ebdcd1ff057556bbc9de9c294adfaa5b1f13df91b67b347fdd88c29594c377ba0024dec40cd9808829e7f4447772482f50a7a8e9a903561c",
               "required":false
            },
            {
               "type":"string",
               "description":"The ETH address of a registered user",
               "name":"targetEthAddress",
               "in":"query",
               "x-example":"0x08152c1265dbc218ccc8ab5c574e6bd52279b3b7",
               "required":true
            },
            {
               "type":"string",
               "description":"The token for which we want retrieve the vault ID",
               "name":"token",
               "in":"query",
               "x-example":"ETH",
               "required":true
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/vaultIdAndStarkKeyResponse"
               },
               "description":"Successful"
            },
            "404":{
               "description":"When there is no user registered with given `targetEthAddress`"
            }
         }
      }
   },
   "/v1/trading/r/votingPower":{
      "get":{
         "summary":"Returns total xDVF balance of exchange users and calculated voting power based on input amount",
         "operationId":"getV1TradingRVotingpower",
         "parameters":[
            {
               "type":"string",
               "description":"Amount of xDVF ",
               "name":"amount",
               "in":"query",
               "x-example":"55"
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/votingPowerResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/registrations/{targetEthAddress}":{
      "get":{
         "summary":"This method is used to retrieve the registration statuses of the given eth address",
         "operationId":"getV1TradingRegistrationsTargetethaddress",
         "parameters":[
            {
               "type":"string",
               "description":"The ETH address of a potential user",
               "name":"targetEthAddress",
               "in":"path",
               "x-example":"0x3f2b822E9A8312C6DafBF9686a5e335Af0E4D33B",
               "required":true
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model22"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/publicTradeHistory/{user}":{
      "get":{
         "summary":"This method is used to retrieve a list of all past executed trades for a user. This includes the different trades that have been settled for each fully executed or partially executed order.",
         "operationId":"getV1TradingRPublictradehistoryUser",
         "parameters":[
            {
               "type":"string",
               "description":"The ETH address of a potential user",
               "name":"user",
               "in":"path",
               "x-example":"0x3f2b822E9A8312C6DafBF9686a5e335Af0E4D33B",
               "required":true
            }
         ],
         "tags":[
            "Trading",
            "public"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model25"
               },
               "description":"Successful"
            },
            "401":{
               "description":"User has not authorized the use of this endpoint for their address"
            }
         }
      }
   },
   "/v1/trading/r/trades/{symbol}":{
      "get":{
         "summary":"Request information regarding all recently completed trades for a given market pair.",
         "operationId":"getV1TradingRTradesSymbol",
         "parameters":[
            {
               "type":"string",
               "description":"The market trading pair in deversifi format i.e BASE:QUOTE",
               "name":"symbol",
               "in":"path",
               "x-example":"ETH:USDT",
               "required":true
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/tradesResponse"
               },
               "description":"The trades endpoint returns data on all recently completed trades for a given market pair for the past 24 hours"
            }
         }
      }
   },
   "/v1/trading/r/24HoursVolume/{year}/{month}/{day}":{
      "get":{
         "summary":"Request information regarding the trading volume for a specific date. The request returns the overall trading volume details for all tokens in USD as well as the trading volume per token.",
         "operationId":"getV1TradingR24hoursvolumeYearMonthDay",
         "parameters":[
            {
               "type":"number",
               "description":"The year of the specific trading volume request date - in this case 2020.",
               "name":"year",
               "in":"path",
               "x-example":"2020",
               "required":true
            },
            {
               "type":"number",
               "description":"The month of the specific trading volume request date - in this case 01 (January).",
               "name":"month",
               "in":"path",
               "x-example":"01",
               "required":true
            },
            {
               "type":"number",
               "description":"The day of the specific trading volume request date - in this case 01 (1st of a month).",
               "name":"day",
               "in":"path",
               "x-example":"01",
               "required":true
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/24HoursVolumeResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/tradesSince/{symbol}/{startDate}/{limit}":{
      "get":{
         "summary":"Request information regarding all completed trades in a time range for a given market pair",
         "operationId":"getV1TradingRTradessinceSymbolStartdateLimit",
         "parameters":[
            {
               "type":"string",
               "description":"The market trading pair in deversifi format i.e BASE:QUOTE",
               "name":"symbol",
               "in":"path",
               "x-example":"ETH:BTC",
               "required":true
            },
            {
               "type":"number",
               "description":"Date of the last trade returned.",
               "name":"startDate",
               "in":"path",
               "x-example":1747384800000,
               "required":true
            },
            {
               "type":"number",
               "description":"Limit of trades that will be returned. With a maximum limit of 1000.",
               "name":"limit",
               "in":"path",
               "x-example":60
            }
         ],
         "tags":[
            "Market"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/Model27"
               },
               "description":"Returns data on all recently completed trades for a given market pair during a time range"
            }
         }
      }
   },
   "/v1/trading/bridgedDeposits":{
      "post":{
         "summary":"Create Stark V2 BridgedDepositRequest",
         "operationId":"postV1TradingBridgeddeposits",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/bridgedDepositsPostPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/bridgedDepositsPostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/bridgedWithdrawals":{
      "post":{
         "summary":"Create Stark V2 BridgedWithdrawalRequest",
         "operationId":"postV1TradingBridgedwithdrawals",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/bridgedWithdrawalsPostPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/bridgedWithdrawalsPostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/deposits":{
      "post":{
         "summary":"Create Stark V2 DepositRequest",
         "operationId":"postV1TradingDeposits",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/depositsPostPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/depositsPostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/deposits-validate":{
      "post":{
         "summary":"Create Stark V2 Deposits-validateRequest",
         "operationId":"postV1TradingDepositsvalidate",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/deposits-validatePostPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/deposits-validatePostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/withdrawals":{
      "post":{
         "summary":"Create Stark V2 WithdrawalRequest",
         "operationId":"postV1TradingWithdrawals",
         "parameters":[
            {
               "type":"string",
               "description":"Base64 of {signature, nonce} JSON representation",
               "name":"authorization",
               "in":"header",
               "x-example":"EcRecover eyJub25jZSI6InYyLTE3MDQxMTQwNjEuMDAwIiwic2lnbmF0dXJlIjoiMHgyYjQ4ZDUzZjJlM2E2OTY2MzBlYmRjZDFmZjA1NzU1NmJiYzlkZTljMjk0YWRmYWE1YjFmMTNkZjkxYjY3YjM0N2ZkZDg4YzI5NTk0YzM3N2JhMDAyNGRlYzQwY2Q5ODA4ODI5ZTdmNDQ0Nzc3MjQ4MmY1MGE3YThlOWE5MDM1NjFjIn0=",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/withdrawalsPostPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/withdrawalsPostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/amm/fundingOrders":{
      "post":{
         "summary":"Submit AMM fundingOrder. Used to deposit or withdrawal liquidity.",
         "operationId":"postV1TradingAmmFundingorders",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/AmmFundingOrdersPostPayload"
               }
            }
         ],
         "tags":[
            "Trading",
            "AMM"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/AmmFundingOrdersPostResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/addAirdrops":{
      "post":{
         "summary":"Add a list of airdops",
         "operationId":"postV1TradingRAddairdrops",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/addAirdropRequestSchema"
               }
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/addAirdropResponseSchema"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getBalance":{
      "post":{
         "summary":"This is used to retrieve the total and active balances of a user per token. Active balance is the balance that is currently available. Total balance (specified as balance) is the sum of all the balances including those locked for trading.",
         "operationId":"postV1TradingRGetbalance",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getBalancePayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/getBalanceResponse"
               },
               "description":"Returns the total, available and locked balances of a user per token."
            }
         }
      }
   },
   "/v1/trading/r/getDeposits":{
      "post":{
         "summary":"This is an authenticated endpoint used to retrieve deposits. A token can be specified to get deposits for a specific token. The limit of deposits returned is 1000.",
         "operationId":"postV1TradingRGetdeposits",
         "parameters":[
            {
               "type":"number",
               "description":"Date of the last deposit returned.",
               "name":"startDate",
               "in":"query",
               "x-example":1747384800000
            },
            {
               "type":"number",
               "description":"Limit of deposits that will be returned. With a maximum limit of 1000.",
               "name":"limit",
               "in":"query",
               "x-example":60
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getDepositsPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/getDepositsResponse"
               },
               "description":"Returns the list of deposits. A token can be specified to get deposits for a specific token."
            }
         }
      }
   },
   "/v1/trading/r/getOrder":{
      "post":{
         "summary":"This is endpoint is used to retrieve the details for a specific order using the order ID.",
         "operationId":"postV1TradingRGetorder",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getOrderPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/getOrderResponse"
               },
               "description":"Returns details relating to a particular order."
            }
         }
      }
   },
   "/v1/trading/r/getPendingWithdrawals":{
      "post":{
         "summary":"This endpoint is used to retrieve all pending withdrawals. If a token is specified, withdrawals pertaining to only that particular token are provided.",
         "operationId":"postV1TradingRGetpendingwithdrawals",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getPendingWithdrawalsPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "type":"string"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getPublicUserPermissions":{
      "post":{
         "summary":"Used to get all configured permissions for the authenticated user",
         "operationId":"postV1TradingRGetpublicuserpermissions",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "public"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model38"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getUserConf":{
      "post":{
         "summary":"Returns the DeversiFi application and user configuration details.",
         "operationId":"postV1TradingRGetuserconf",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/getUserConfResponse"
               },
               "description":"Returns the overall trading volume details for all tokens in USD as well as the trading volume per trading pair."
            }
         }
      }
   },
   "/v1/trading/r/getVaultId":{
      "post":{
         "summary":"An authenticated endpoint used to retrieve a vaultId for given token.",
         "operationId":"postV1TradingRGetvaultid",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getVaultIdPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "description":"the vault id.",
               "schema":{
                  "type":"number",
                  "description":"the vault id.",
                  "example":1851736
               }
            }
         }
      }
   },
   "/v1/trading/r/getWithdrawal":{
      "post":{
         "summary":"This endpoint is used to retrieve details relating to a particular withdrawal.",
         "operationId":"postV1TradingRGetwithdrawal",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getWithdrawalPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/withdrawHistoryObject"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/hasReceivedCompensation":{
      "post":{
         "summary":"Returns whether the user already received registration compensation.",
         "operationId":"postV1TradingRHasreceivedcompensation",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model39"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/openOrders":{
      "post":{
         "summary":"This endpoints allows to retrieve details on all open orders.",
         "operationId":"postV1TradingROpenorders",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/openOrdersPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/openOrdersResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/orderHistory":{
      "post":{
         "summary":"This method is used to retrieve a list of all past orders for a user. This includes executed trades, as well as expired and cancelled orders. The limit of orders returned is 1000.",
         "operationId":"postV1TradingROrderhistory",
         "parameters":[
            {
               "type":"number",
               "description":"Date of the last order returned.",
               "name":"startDate",
               "in":"query",
               "x-example":1747384800000
            },
            {
               "type":"number",
               "description":"Limit of orders that will be returned. With a maximum limit of 1000.",
               "name":"limit",
               "in":"query",
               "x-example":60
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/openOrdersPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model40"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/recoverTradingKey":{
      "post":{
         "summary":"Returns the encrypted Stark Trading Key.",
         "operationId":"postV1TradingRRecovertradingkey",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/recoverTradingKeyResponse"
               },
               "description":"Returns the encrypted Stark Trading key."
            }
         }
      }
   },
   "/v1/trading/r/setPublicUserPermissions":{
      "post":{
         "summary":"Used to set a specific permission for a given user",
         "operationId":"postV1TradingRSetpublicuserpermissions",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/permissionsPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model38"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/userOrderCount":{
      "post":{
         "summary":"This method is used to retrieve user's count of filled orders.",
         "operationId":"postV1TradingRUserordercount",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model41"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/withdrawHistory":{
      "post":{
         "summary":"An authenticated endpoint used to retrieve a list of user's past withdrawals. This includes ready, completed, as well as cancelled withdrawals. The limit of withdrawals returned is 1000.",
         "operationId":"postV1TradingRWithdrawhistory",
         "parameters":[
            {
               "type":"number",
               "description":"Date of the last withdraw returned.",
               "name":"startDate",
               "in":"query",
               "x-example":1747384800000
            },
            {
               "type":"number",
               "description":"Limit of withdraws that will be returned. With a maximum limit of 1000.",
               "name":"limit",
               "in":"query",
               "x-example":60
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/getPendingWithdrawalsPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/withdrawHistoryResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/cancelOpenOrders":{
      "post":{
         "summary":"This endpoint allows to cancel all open orders of the requestor",
         "operationId":"postV1TradingWCancelopenorders",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/authPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/cancelOpenOrdersResponse"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/cancelOrder":{
      "post":{
         "summary":"This endpoint allows to cancel a specific order.",
         "operationId":"postV1TradingWCancelorder",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/cancelOrderPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/cancelOrderResponse"
               },
               "description":"Queues cancellation request and returns the order ID of the cancelled order."
            },
            "502":{
               "description":"Unable to determine the status of order cancellation request, verify by fetching orders list"
            }
         }
      }
   },
   "/v1/trading/w/cancelWithdrawal":{
      "post":{
         "summary":"Cancel withdrawal with given id.",
         "operationId":"postV1TradingWCancelwithdrawal",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/cancelWithdrawalPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/withdrawHistoryObject"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/claimAirdrop":{
      "post":{
         "summary":"Request airdrop claim for the specified token/address",
         "operationId":"postV1TradingWClaimairdrop",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/airdropEligibilityQuery"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model43"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/deposit":{
      "post":{
         "summary":"Submit a signed notification of a new deposit made.",
         "operationId":"postV1TradingWDeposit",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/depositPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/depositResponse"
               },
               "description":"Returns the deposit notifcation."
            }
         }
      }
   },
   "/v1/trading/w/fastWithdrawal":{
      "post":{
         "summary":"Submit a request for a new fast withdrawal.",
         "operationId":"postV1TradingWFastwithdrawal",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/fastWithdrawalPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model46"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/feedback":{
      "post":{
         "summary":"This endpoint allows to send the email of an user.",
         "operationId":"postV1TradingWFeedback",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/feedbackPayload"
               }
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/Model47"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/notifications":{
      "post":{
         "summary":"Creates a new notification.",
         "operationId":"postV1TradingWNotifications",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/notificationPayload"
               }
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/notification"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/register":{
      "post":{
         "summary":"This method is used to register a Stark key that corresponds to an Ethereum public address. This will return deversifi Signature or DeversiFi application and user configuration details.",
         "operationId":"postV1TradingWRegister",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/registerPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/registerResponseUserRegisteredOnChain",
                  "x-alternatives":[
                     {
                        "$ref":"#/x-alt-definitions/registerResponseUserRegisteredOnChain"
                     },
                     {
                        "$ref":"#/x-alt-definitions/registerResponseUserNotRegisteredOnChain"
                     }
                  ]
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/storeStarkTradingKey":{
      "post":{
         "summary":"This endpoint allows storing encrypted Stark Trading Key.",
         "operationId":"postV1TradingWStorestarktradingkey",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/storeTradingKeyPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "$ref":"#/definitions/storeTradingKeyResponse"
               },
               "description":"Returns flag of whether or not the key was stored successfully."
            }
         }
      }
   },
   "/v1/trading/w/submitOrder":{
      "post":{
         "summary":"This authenticated endpoint is used to submit an order.",
         "operationId":"postV1TradingWSubmitorder",
         "parameters":[
            {
               "x-alternatives":[
                  {
                     "$ref":"#/x-alt-definitions/submitOrderPayload"
                  },
                  {
                     "$ref":"#/x-alt-definitions/Model6"
                  }
               ],
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/submitOrderPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/submitOrderResponse",
                  "x-alternatives":[
                     {
                        "$ref":"#/x-alt-definitions/submitOrderResponse"
                     },
                     {
                        "$ref":"#/x-alt-definitions/Model7"
                     }
                  ]
               },
               "description":"Successful"
            },
            "202":{
               "description":"One or more orders of a batch of orders did not succeed"
            },
            "502":{
               "description":"Unable to determine the status of order submission request, verify by fetching orders list"
            }
         }
      }
   },
   "/v1/trading/w/transfer":{
      "post":{
         "summary":"Submit a request for internal transfer (NOTE: currently not available to wider public).",
         "operationId":"postV1TradingWTransfer",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/transferPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/transferResponseObject"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/w/withdraw":{
      "post":{
         "summary":"Submit a request for a new withdrawal.",
         "operationId":"postV1TradingWWithdraw",
         "parameters":[
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/withdrawalPayload"
               }
            }
         ],
         "tags":[
            "Trading"
         ],
         "responses":{
            "default":{
               "schema":{
                  "type":"string"
               },
               "description":"Successful"
            }
         }
      }
   },
   "/v1/trading/r/getBalanceForUser/{userEthAddress}":{
      "post":{
         "summary":"This is used to retrieve the total and active balances of a user per token. Active balance is the balance that is currently available. Total balance (specified as balance) is the sum of all the balances including those locked for trading.",
         "operationId":"postV1TradingRGetbalanceforuserUserethaddress",
         "parameters":[
            {
               "type":"string",
               "description":"The ETH address of a potential user",
               "name":"userEthAddress",
               "in":"path",
               "x-example":"0x3f2b822e9a8312c6dafbf9686a5e335af0e4d33b",
               "required":true
            },
            {
               "in":"body",
               "name":"body",
               "schema":{
                  "$ref":"#/definitions/Model54"
               }
            }
         ],
         "tags":[
            "Trading",
            "public"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/getBalanceResponse"
               },
               "description":"Successful"
            },
            "401":{
               "description":"User has not authorized the use of this endpoint for their address"
            }
         }
      }
   },
   "/v1/trading/w/notifications/{id}":{
      "delete":{
         "summary":"Deletes a notification.",
         "operationId":"deleteV1TradingWNotificationsId",
         "parameters":[
            {
               "type":"string",
               "name":"id",
               "in":"path",
               "required":true
            }
         ],
         "tags":[
            "Internal"
         ],
         "responses":{
            "200":{
               "schema":{
                  "$ref":"#/definitions/notification"
               },
               "description":"Successful"
            }
         }
      }
   }
},
"definitions":{
   "getAllowanceResponse":{
      "type":"object",
      "properties":{
         "allowance":{
            "type":"string",
            "example":"ALLOWED",
            "enum":[
               "ALLOWED",
               "DENIED",
               "KYC_REQUIRED"
            ]
         },
         "reason":{
            "type":"string",
            "example":"NO_POLICY"
         }
      }
   },
   "ETH":{
      "type":"object",
      "properties":{
         "token":{
            "type":"string",
            "description":"Token symbol",
            "example":"ETH"
         },
         "balance":{
            "type":"string",
            "description":"Quantised token balance",
            "example":"10"
         },
         "usdBalance":{
            "type":"string",
            "description":"USD equivalent of token balance",
            "example":"20"
         }
      }
   },
   "Model1":{
      "type":"object",
      "properties":{
         "time":{
            "type":"string",
            "format":"date",
            "description":"DateTime of the aggregation",
            "example":"2021-07-14T11:28:45.828Z"
         },
         "onChainTotalUsd":{
            "type":"string",
            "description":"total USD equivalent of the on-chain assets",
            "example":"20"
         },
         "exchangeTotalUsd":{
            "type":"string",
            "description":"total USD equivalent of the exchange assets",
            "example":"20"
         },
         "totalUsd":{
            "type":"string",
            "description":"total USD equivalent of both on-chain and exchange assets",
            "example":"40"
         },
         "onChainBalances":{
            "type":"object",
            "description":"Map of on-chain token balances",
            "name":"tokenBalanceSchema",
            "properties":{
               "ETH":{
                  "$ref":"#/definitions/ETH"
               }
            }
         },
         "exchangeBalances":{
            "type":"object",
            "description":"Map of exchange token balances",
            "name":"tokenBalanceSchema",
            "properties":{
               "ETH":{
                  "$ref":"#/definitions/ETH"
               }
            }
         }
      }
   },
   "balanceHistorySchema":{
      "type":"array",
      "items":{
         "$ref":"#/definitions/Model1"
      }
   },
   "collateralBalancesSchema":{
      "type":"object"
   },
   "pagination":{
      "type":"object",
      "properties":{
         "totalItems":{
            "type":"number",
            "description":"Total number of items matching the query",
            "example":1559,
            "minimum":0
         },
         "limit":{
            "type":"number",
            "description":"Limit applied on returned items",
            "example":5
         },
         "skip":{
            "type":"number",
            "description":"Skip applied on returned items",
            "example":2
         }
      }
   },
   "Model2":{
      "type":"object",
      "properties":{
         "_id":{
            "type":"string",
            "description":"Unique identifier representing the deposit or withdrawal",
            "example":"606f207fc7aa2e91d028a17a"
         },
         "type":{
            "type":"string",
            "description":"Whether the transaction is a deposit, a classic withdrawal or a fast withdrawal",
            "example":"Deposit",
            "enum":[
               "Deposit",
               "Withdrawal",
               "FastWithdrawal"
            ]
         },
         "token":{
            "type":"string",
            "description":"Token deposited or withdrawn",
            "example":"ZRX"
         },
         "amount":{
            "type":"number",
            "description":"Amount deposited or withdrawn",
            "example":1
         },
         "transactionHash":{
            "type":"string",
            "description":"Hash of the Ethereum transaction leading to L1 balance debit or credit",
            "example":"0xb5c8bd9430b6cc87a0e2fe110ece6bf527fa4f170a4bc8cd032f768fc5219838"
         },
         "date":{
            "type":"string",
            "format":"date",
            "description":"Date and time deposit or withdrawal",
            "example":"2020-11-11T16:37:05.957"
         },
         "sourceOrRecipient":{
            "type":"string",
            "description":"Originator of the deposit or recipient of the withdrawal",
            "example":"0x148426fdc4c8a51b96b4bed827907b5fa6491ad0"
         },
         "gateway":{
            "type":"string",
            "description":"Set when operation used a gateway. Corresponds to a chain identifier",
            "example":"MATIC_POS"
         }
      }
   },
   "items":{
      "type":"array",
      "items":{
         "$ref":"#/definitions/Model2"
      }
   },
   "getDepositsAndWithdrawalsResponse":{
      "type":"object",
      "properties":{
         "pagination":{
            "$ref":"#/definitions/pagination"
         },
         "items":{
            "$ref":"#/definitions/items"
         }
      }
   },
   "addresses":{
      "type":"array",
      "example":[
         "0x5317c63f870e8d2f85f0de3c2666d1414f5a728c",
         "0x08152c1265dbc218ccc8ab5c574e6bd52279b3b7"
      ],
      "items":{
         "type":"string"
      }
   },
   "Model3":{
      "type":"object",
      "properties":{
         "addresses":{
            "$ref":"#/definitions/addresses"
         },
         "kycStatus":{
            "type":"string",
            "example":"PASS",
            "enum":[
               "PENDING",
               "PASS",
               "FAILED",
               "EXPIRED"
            ]
         }
      }
   },
   "Model4":{
      "type":"object",
      "properties":{
         "fillId":{
            "type":"string",
            "description":"Unique identifier representing the fill event",
            "example":"606f207fc7aa2e91d028a17a"
         },
         "orderId":{
            "type":"string",
            "description":"Unique identifier of the order associated with the fill",
            "example":"BtHEvgY1Bz1"
         },
         "symbol":{
            "type":"string",
            "description":"Symbol for the order associated with the fill",
            "example":"ETH:USDT"
         },
         "price":{
            "type":"number",
            "description":"Execution price of the fill",
            "example":209.9
         },
         "fillAmount":{
            "type":"number",
            "description":"Amount filled (negative amount for a sell event, positive for a buy event)",
            "example":-0.125622
         },
         "orderAmount":{
            "type":"number",
            "description":"Initial amount for the placed order associated with the fill",
            "example":-1
         },
         "date":{
            "type":"string",
            "format":"date",
            "description":"Date and time of the fill event",
            "example":"2020-11-11T16:37:05.957"
         },
         "orderCreationDate":{
            "type":"string",
            "format":"date",
            "description":"Date and time at which the order associated with the fill event was placed",
            "example":"2020-11-11T16:37:05.262Z"
         },
         "orderType":{
            "type":"string",
            "description":"Type of the order associated with the fill event",
            "example":true,
            "enum":[
               "EXCHANGE LIMIT",
               "EXCHANGE MARKET"
            ]
         },
         "orderActive":{
            "type":"boolean",
            "description":"Whether the order associated with the fill event is still active",
            "example":true
         },
         "orderCanceled":{
            "type":"boolean",
            "description":"Whether the order associated with the fill event was canceled",
            "example":false
         }
      }
   },
   "Model5":{
      "type":"array",
      "items":{
         "$ref":"#/definitions/Model4"
      }
   },
   "getFillsResponse":{
      "type":"object",
      "properties":{
         "pagination":{
            "$ref":"#/definitions/pagination"
         },
         "items":{
            "$ref":"#/definitions/Model5"
         }
      }
   },
   "Model6":{
      "type":"object",
      "properties":{
         "_id":{
            "type":"string",
            "description":"Unique identifier representing this transfer",
            "example":"MphMkBBZjnS"
         },
         "token":{
            "type":"string",
            "description":"Token transfered",
            "example":"ETH"
         },
         "amount":{
            "type":"number",
            "description":"Amount transfered (effective amount received by the recipient)",
            "example":3.14,
            "minimum":0
         },
         "feeAmount":{
            "type":"number",
            "description":"Transfer fee amount (in transfer token units)",
            "example":3.14,
            "minimum":0
         },
         "source":{
            "type":"string",
            "description":"Source Ethereum address",
            "example":"0x08152c1265dBc218ccc8Ab5C574e6bD52279b3B7"
         },
         "recipient":{
            "type":"string",
            "description":"Recipient Ethereum address",
            "example":"0xeb3ea3ea9239577951523cafa9fd3072bc88e50a"
         },
         "memo":{
            "type":"string",
            "description":"Transfer memo",
            "example":"my reference"
         },
         "date":{
            "type":"string",
            "format":"date",
            "description":"Date and time of the transfer",
            "example":"1990-04-14T00:20:00.000Z"
         }
      }
   },
   "Model7":{
      "type":"array",
      "items":{
         "$ref":"#/definitions/Model6"
      }
   },
   "getTransfersResponse":{
      "type":"object",
      "properties":{
         "pagination":{
            "$ref":"#/definitions/pagination"
         },
         "items":{
            "$ref":"#/definitions/Model7"
         }
      }
   },
   "starkOrder":{
      "type":"object",
      "description":"Stark Limit Order Data.",
      "example":{
         "vaultIdSell":1000002,
         "vaultIdBuy":1000001,
         "amountSell":"97400000",
         "amountBuy":"100000000000000000",
         "tokenSell":"0x2",
         "tokenBuy":"0x1"
      },
      "properties":{
         "vaultIdSell":{
            "type":"integer",
            "description":"The vault ID of the seller.",
            "minimum":0
         },
         "vaultIdBuy":{
            "type":"integer",
            "description":"The vault ID of the buyer.",
            "minimum":0
         },
         "amountSell":{
            "type":"string",
            "description":"The total amount to be sold."
         },
         "amountBuy":{
            "type":"string",
            "description":"The total amount to be bought."
         },
         "tokenSell":{
            "type":"string",
            "description":"The Stark token ID for the token being sold."
         },
         "tokenBuy":{
            "type":"string",
            "description":"The Stark token ID for the token being bought."
         }
      }
   },
   "Model8":{
      "type":"object",
      "properties":{
         "amountBuy":{
            "type":"string"
         },
         "amountSell":{
            "type":"string"
         },
         "tokenBuy":{
[...]
